.parkpay {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 1rem;
}
.parkpay h1 {
    color: white;
    font-size: 3rem;
 }
