.login-header {
    text-align: center;
    margin: 2rem;
}
.login-header h1 {
    color: blue;
}
.login-header p {
    margin: 0.5rem;
}
.login-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    text-align: center;
}
.login-form input {
    margin: 0.5rem auto;
    display: block;
    padding: 0.4rem;
    width: 90%;
    border: 1px solid rgba(128,128,128, 0.5);
    border-radius: 5px;
    opacity: 0.5;
}
.login-form .login-password {
    margin-bottom: 0;
}
.login-form p {
    align-self: flex-end;
    margin-right: 6%;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    color: blue;
}
.login-form button {
    margin: auto;
    width: 90%;
    background-color: blue;
    border-color: blue;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
}
.login-footer {
    text-align: center;
}
.login-footer button {
    background-color: transparent;
    color: blue;
    border: none;
}