.footer-footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 24px;
    align-items: center;
    gap:40px;
    border-radius: 0 0 20px 20px;
    background-color:white;
}
.footer-footer div {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #9E9E9E;
    cursor: pointer;
}
.footer-footer div span img{
    width:3rem;
    filter:contrast(0%);
}
.footer-footer .focus span img {
    filter: contrast(100%);
}
.footer-footer .focus {
    color:#123CAA;
}
