.header-header {
  width: 100%;
  background: #123CAA;
  border-radius: 20px;
  z-index: 50;
}
.header-firstDiv p:nth-child(1){
  padding: 1rem 0 0 1rem;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}
.header-firstDiv p:nth-child(2){
  margin: 0 1rem;
  position: relative;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}
.header-firstDiv .header-wavyhand{
  position: absolute;
  width:18.33px;
  left: 2.5rem;
  }
  .header-firstDiv .header-bell {
    position: absolute;
    width: 40px;
    right: 3.75%;
    top: 9.93%;
  }
.header-secondDiv {
    padding: 1rem;
    background-image: url('../../assests/Lines.png');
    background-size: 200%;
} 
.header-secondDiv p:nth-child(1){
  margin-top: 2rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.header-secondDiv p:nth-child(2){
  position: relative;
  font-size: 2.5rem;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}
.header-hidden-eye {
    position: absolute;
    width:18.33px;
}
.header-secondDiv p:nth-child(3){
  margin-top: 3rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  }






/* .header-header div:last-child{
    background-image: url('../../picturesAndFiles/Lines.png');
    background-size: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-firstDiv {
    display: flex;
    flex-direction: column;
  }
  .header-bell {
    align-self: flex-end;
    position: absolute;
    top: 2rem;
    right: 2rem
  }
.header-firstDiv p:nth-child(2){
    margin-top: 9px;
    font-size: 1.1rem;
    font-weight: bold;
  }
 .header-firstDiv .header-wavyhand {
    position: absolute;
    left: 4.2rem;
    top: 3.9rem;
  }
  .header-secondDiv {
    padding-top: 2rem;
    position: relative;
  }
  .header-secondDiv p:nth-child(1){
    font-size: 2.5vw;
  }
  .header-secondDiv p:nth-child(2) {
    position: relative;
    font-size: 10vw;
    margin-bottom: 0.5em;
  }
.header-secondDiv p:nth-child(3) {
     font-size:3vw;
     margin: 1.5rem 0 1rem;
}
.header-secondDiv p:nth-child(2) span {
  position: absolute;
  top: -1.5rem;
  right: -2.5rem;
}
*/
@media only screen and (min-width: 600px) {
  .header-secondDiv p:nth-child(1){
    font-size: 0.8rem;
  }
  .header-secondDiv p:nth-child(2){
    font-size: 3rem;
  }
  .header-secondDiv p:nth-child(3){
    font-size: 1rem;
  }
} 