.header-header {
  position:relative;
  width: 100%;
  background: #123CAA;
  border-radius: 0 0 20px 20px;
  z-index: 50;
}
.header-firstDiv p:nth-child(1){
  padding: 1rem 0 0 1rem;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}
.header-firstDiv p:nth-child(2){
  margin: 0 1rem;
  position: relative;
  font-family: 'Helvetica Neue';
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}
.header-firstDiv .header-wavyhand{
  position: absolute;
  width:18.33px;
  left: 2.5rem;
  }
  .header-firstDiv .header-bell {
    position: absolute;
    width: 40px;
    right: 3.75%;
    top: 9.93%;
  }
.header-secondDiv {
    padding: 1rem;
    background-image: url('../../assests/Lines.png');
    background-size: 200%;
} 
.header-secondDiv p:nth-child(1){
  margin-top: 2rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.header-secondDiv p:nth-child(2){
  position: relative;
  font-size: 2.5rem;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}
.header-hidden-eye {
    position: absolute;
    width:18.33px;
}
.header-secondDiv p:nth-child(3){
  margin-top: 3rem;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  }
@media only screen and (min-width: 600px) {
  .header-secondDiv p:nth-child(1){
    font-size: 0.8rem;
  }
  .header-secondDiv p:nth-child(2){
    font-size: 3rem;
  }
  .header-secondDiv p:nth-child(3){
    font-size: 1rem;
  }
} 