.main-page-div {
    position: relative;
}
.main-page-div .header {
   position: sticky;
   top: 0;
}
.main-page-div .footer {
   position: fixed;
   bottom: 0;
   z-index: 2;
   width:100vw;
}
.imgStyle {
    cursor: pointer;
    position: fixed;
    right: calc(12%);
    top: 50%;
    z-index: 3;
}
@media only screen and (min-width: 800px) {
    .imgStyle {
        right:calc(30%)
    }
}
@media only screen and (min-width: 600px) {
    .main-page-div .footer {
        width:35rem;
    }
}